.pagoEfectivo-img {
    width: 50%;
  }
  
  .nav-tabs .nav-link.active {
    color: #fc0 !important;
    border-color: #fc0 #fc0 #fff!important;
  }
  
  .eyelashes a {
    color: #888;
  }
  
  .eyelashes a:hover {
    color: black;
  }
  
  .color-time-box {
    background-color: rgb(255, 224, 123);
  }
  
  .border-img-color {
    border: 2px solid #feb;
  }
  
  .border-right {
    border-top-right-radius: .80rem!important;
    border-bottom-right-radius: .80rem!important;
  }
  
  .border-left {
    border-top-left-radius: .80rem!important;
    border-bottom-left-radius: .80rem!important;
  }
  
  .border-link {
    border-radius: .80rem!important;
  }
  
  .instrucciones {
    color:  #fc0;
    font-size: 20px;
  }
  
  .cursor {
    cursor: pointer;
  }

  .timeBox h2 {
    font-size: 1.1rem;
  }
  
  .logo {
    width: 200px;
  }

  .highligth {
    border: 1px solid red;
  }

  figure {
    display: inline-block;
  }

  
  h2 {
    font-size: 1.5rem;
  }

  .timeBox h4 {
    font-size: 0.6rem;
    text-align: center;
  }

  .timeBox p {
    font-size: 0.5rem;
  }

  .timeIcon {
    width: 20px;
  }

  .timeBox  h6 {
    font-size: 0.8rem;
  }

  .slick-prev:before {
    content: url(../assets/images/previous.svg);
    color: rgb(224, 170, 0);
}

.slick-next:before {
  content: url(../assets/images/next.svg);
  color: rgb(224, 170, 0);
}

@media screen and (min-width: 720px) {
  .timeBox p {
    font-size: 1rem;
  }

  .timeBox h2 {
    font-size: 2rem;
  }

  .timeBox h4 {
    font-size: 1.5rem;
  }

  .timeIcon {
    width: 2.125rem;
  } 
  
  .timeBox  h6 {
    font-size: 1rem;
  }
}
