.pagoEfectivo-img {
    width: 50%;
  }
  
  .nav-tabs .nav-link.active {
    color: #fc0 !important;
    border-color: #fc0 #fc0 #fff!important;
  }
  
  .eyelashes a {
    color: #888;
  }
  
  .eyelashes a:hover {
    color: black;
  }
  
  .alarm-img {
    width: 10%;
  }
  
  .color-time-box {
    background-color: rgb(255, 224, 123);
  }
  
  .border-img-color {
    border: 2px solid #feb;
  }
  
  .border-right {
    border-top-right-radius: .80rem!important;
    border-bottom-right-radius: .80rem!important;
  }
  
  .border-left {
    border-top-left-radius: .80rem!important;
    border-bottom-left-radius: .80rem!important;
  }
  
  .border-link {
    border-radius: .80rem!important;
  }
  
  .instrucciones {
    color:  #fc0;
    font-size: 20px;
  }
  
  .cursor {
    cursor: pointer;
  }

  h2 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
    text-align: center;
  }

@media screen and (min-width: 720px) {
  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}